<body class="mt-5" >
  <div style="width: 100%;">
    <div class="row">
      <main class="col-md-12  col-lg-12 px-md-4 bg-light">
                <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
                    <h1>BANNER CONTROLLS</h1>
                    <div class="d-flex flex-column align-items-end">
                        <a href="/admin/add-banner" class="btn btn-success">+ Add New Banner</a>
                    </div>
                </div>
          <div class="table-responsive p-3">
          <table class="table table-borderless table-shopping-cart">
            <thead>
              <tr >
                <th class="border text-center-in-table">BANNER IMAGE</th>
                <th class="border text-center-in-table">BANNER NAME</th>
                <th class="border text-center-in-table">STATUS</th>
                <th class="border text-center-in-table">EDIT STATUS</th>
              </tr>
            </thead>
            <tbody>
              {{#each banners}}
                <tr>
                  <td class="border">
                    <figure class="itemside d-flex align-items-center">
                      <div ><img                     
                          src="/uploads/{{this.Image}}"
                          class="w-50"
                        /></div>
                    </figure>
                  </td>
                  <td class="border text-center-in-table">{{this.BannerName}}</td>
                  {{#if this.Status}}
                  <td class="border text-center-in-table">
                    ACTIVE
                  </td>
                  {{else}}
                  <td class="border text-center-in-table">
                   INACTIVE
                  </td>
                  {{/if}}
                  {{#if this.Status}}
                  <td class="border text-center-in-table">
                    <a href="/admin/edit-banner-status?bannerId={{this._id}}&status={{this.Status}}" onclick="return confirm('Are you sure to disable this banner')"><i class="fa-regular fa-eye-slash"></i> HIDE</a>
                  </td>
                  {{else}}
                  <td class="border text-center-in-table">
                    <a href="/admin/edit-banner-status?bannerId={{this._id}}&status={{this.Status}}" onclick="return confirm('Are you sure to enable this banner')"><i class="fa-regular fa-eye"></i> SHOW</a>
                  </td>
                  {{/if}}
                
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{#if banners.length}}
          <div class="d-flex justify-content-between align-items-center mt-3 me-2">
            <p>
              Showing {{startIndex}}-{{endIndex}} results from {{totalCount}}
            </p>
            <ul class="pagination">
              {{#if hasPreviousPage}}
                <li class="page-item">
                  <a class="page-link" href="?page={{previousPage}}">Prev</a>
                </li>
              {{/if}}
      
              {{#if currentPage}}
                <li class="page-item">
                  <a class="page-link" href="?page={{currentPage}}">{{currentPage}}</a>
                </li>
              {{/if}}
      
              {{#if hasNextPage}}
                <li class="page-item">
                  <a class="page-link" href="?page={{nextPage}}">Next</a>
                </li>
              {{/if}}
            </ul>
          </div>
          {{else}}
            <p>No results found.</p>
          {{/if}}
        </div>
        </div>
      </main>
    </div>
  </div>
</body>

