<body style="box-sizing: none;">
  <div class="container-fluid">
    <br />
    <h4 class="ms-5">{{Categories}}</h4> <br>
    {{#if categories}}
    <div class="row">
      <div class="d-flex justify-content-around">
        {{#each categories}}
        <div class="card border">
          <img
            src="{{Image}}"
            alt=""
        /></div>
        {{/each}}
    </div>
    <div class="row">
      <div class="d-flex justify-content-around">
      {{#each categories}}
        <div class="card border-0 m-3">
          <a href="" class="btn btn-dark rounded-pill" style="width: 8em;">
            {{CategoryName}}  <i class="fas fa-right-long"></i>
          </a>
        </div>
      {{/each}}
      </div>
    {{/if}}
    </div>
  </div>
    <br />
    <h5 class="text-center">Featured products ></h5>
    <br />
  <div class="container">

    <div class="row">
      <div class="d-flex justify-content-between responsive">
        {{#each productDetails}}
        
          <div class="card col-md-3">
            <a href="/product/details-view/{{this._id}}">
              <img
                src="{{this.images.[0]}}"
                alt=""
                class="card-img-top"
              />
            </a>
            <div class="card-body border-top text-end">
              <dt class="card-text">₹
                {{this.SellingPrice}}
                <div class="text-stroke">
                  ₹{{this.BasePrice}}
                </div>
                <br />
              </dt>
            </div>
            <div class="card-body">
              <dt class="card-text">{{this.BrandName}} <br> {{this.ProductName}}</dt>
              <p class="card-text">{{this.Specification1}}
                <br />{{this.Specification2}}</p>
              <div class="d-flex justify-content-around">
                <a
                  href=""
                  class="btn btn-white border btn-block"
                  style="width: 30%;"
                ><i class="fa-regular fa-heart"></i></a>
                <a
                  href="/product/details-view/{{this._id}}"
                  class="btn btn-danger btn-block"
                  style="width: 60%;"
                >view details </i></a>
              </div>
            </div>
          </div>
          <br />
        {{/each}}
        <br />
        {{#if productDetails.length}}
          <div class="d-flex justify-content-between align-items-center mt-3 me-2">
            <p>
              Showing {{startIndex}}-{{endIndex}} results from {{totalCount}}
            </p>
            <ul class="pagination">
              {{#if hasPreviousPage}}
                <li class="page-item">
                  <a class="page-link" href="?page={{previousPage}}">Prev</a>
                </li>
              {{/if}}
      
              {{#if currentPage}}
                <li class="page-item">
                  <a class="page-link" href="?page={{currentPage}}">{{currentPage}}</a>
                </li>
              {{/if}}
      
              {{#if hasNextPage}}
                <li class="page-item">
                  <a class="page-link" href="?page={{nextPage}}">Next</a>
                </li>
              {{/if}}
            </ul>
          </div>
          {{else}}
            <p>No results found.</p>
          {{/if}}
      </div>
      </div>
    </div>
  </div>
</body>
