<body>
  <div class="container mt-5 p-5">
    <div class="row m-3" style="min-height: 100vh;">
      <div class="card col-md-3 border-0">
        <div class="d-flex justify-content-center m-2">
          <img
            src="/images/epcartprofile.jpg"
            class="card-img-top rounded-circle"
            alt="Profile Picture"
            style="width: 150px; height: 150px;"
          />
        </div>
        <div class="card-body text-center">
          {{#if userData}}
          <h5 class="card-title">{{userData.Name}}</h5>
          {{/if}}
          {{#if userData}}
          <p class="card-text">{{userData.Email}}</p>
          {{/if}}
        <hr />
        </div>
      </div>

      <main class="col-md-8 border-start">
        <div class="d-flex justify-content-between">
            <h3>CHANGE YOUR PASSWORD</h3>
        </div>
        <hr />
        <br />
        <div class="text-center fw-bold text-success">
          {{#if message.success}}
          {{message.success}}
          {{/if}}
        </div>
        <div class="text-center fw-bold text-danger">
          {{#if message.error}}
          {{message.error}}
          {{/if}}
        </div>
        <form action="/profile/forgot-password" method="post">
          <div class="form-group col-md-11 m-5">
            <label for="email">Username</label>
            <input
              type="email"
              name="Email"
              class="form-control"
              style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
              id="email"
              value = "{{userData.Email}}"
              required
              readonly
            />
          </div>
          <div class="text-end">
            <button class="btn btn-link" type="submit">Send OTP</button>
          </div>
        </form>

        <form action="/profile/verify-otp" method="post">
          <div class="form-group col-md-11 mx-5">
            <label for="password">OTP</label>
            <input
              type="password"
              name="OTP"
              class="form-control"
              style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
              id="password"
              placeholder="Enter your otp here"
              required
            />
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-block btn-lg bg-dark text-white" style="width: 50%;">Submit</button>
          </div>
        </form>
      </main>
    </div>
  </div>
</body>