<div class="row m-2 mt-4 d-flex justify-content-center">
  <div class="col-md-8 col-12" >
    <div class="card border-0 shadow mt-5">
      <br>
      <div class="card-header bg-white border-0">
        <h3 class="text-center">Verify Your Email</h3>
      </div>
      <div class="card-body">
        <div class="text-center fw-bold text-success">
          {{#if message.success}}
          {{message.success}}
          {{/if}}
        </div>
        <div class="text-center fw-bold text-danger">
          {{#if message.error}}
          {{message.error}}
          {{/if}}
        </div>
        {{#if refferalUser}}
        <form action="/refferal-user/email-verification" method="post">
        {{else}}
        <form action="/email-verification" method="post">
        {{/if}}
          <div class="form-group col-md-11 m-5">
            <label for="email">Username</label>
            <input
              type="email"
              name="Email"
              class="form-control"
              style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
              id="email"
              {{#if Email}}
              value = {{Email}}
              {{else}}
              placeholder="Enter your email"
              {{/if}}
             readonly
            />
          </div>
          <div class="form-group col-md-11 mx-5">
            <label for="password">OTP</label>
            <input
              type="password"
              name="OTP"
              class="form-control"
              style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
              id="password"
              placeholder="Enter your otp here"
              required
            />
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-block btn-lg bg-dark text-white" style="width: 50%;">Submit</button>
          </div>
        </form>
      </div>
      <br />
    </div>
  </div>
</div>